@import "tailwindcss";

:root {
  --background: #f3f3f2;
  --foreground: #171717;
}

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  background: var(--background);
  color: var(--foreground);
}

/* styles/globals.css */
@font-face {
  font-family: 'HeavyMan';
  src: url('/fonts/TAYHeavyMan.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
